In [61]:
import io
import pandas as pd
import numpy as np

data = io.StringIO('''\
1992-08-27 07:46:48,  
1992-08-27 08:00:48,28.2  
1992-08-27 08:33:48,28.4  
1992-08-27 08:43:48,28.8  
1992-08-27 08:48:48,29.0  
1992-08-27 08:51:48,29.2  
1992-08-27 08:53:48,29.6  
1992-08-27 08:56:48,29.8  
1992-08-27 09:03:48,30.0
''')
s = pd.read_csv(data, squeeze=False, header = None, 
                names = ['date', 'value'])
# s.columns = ['value']
s#.loc[:, 'date']

                  date   value
0  1992-08-27 07:46:48
1  1992-08-27 08:00:48  28.2
2  1992-08-27 08:33:48  28.4
3  1992-08-27 08:43:48  28.8
4  1992-08-27 08:48:48  29.0
5  1992-08-27 08:51:48  29.2
6  1992-08-27 08:53:48  29.6
7  1992-08-27 08:56:48  29.8
8  1992-08-27 09:03:48    30.0

In [56]:
import io
import pandas as pd

data = io.StringIO('''\
1992-08-27 07:46:48,
1992-08-27 08:00:48,28.2  
1992-08-27 08:33:48,28.4  
1992-08-27 08:43:48,28.8  
1992-08-27 08:48:48,29.0  
1992-08-27 08:51:48,29.2  
1992-08-27 08:53:48,29.6  
1992-08-27 08:56:48,29.8  
1992-08-27 09:03:48,30.0
''')
s = pd.read_csv(data, squeeze=False, header = None, 
                names = ['date', 'value'])
s.index = pd.to_datetime(s.loc[:, 'date'])
s = s.drop(columns = ['date'])

res = s.resample('s').interpolate(method = 'linear')
print(res)
res = res.resample('min').asfreq()
print(res)

                         value
date
1992-08-27 07:46:48        NaN
1992-08-27 07:46:49        NaN
1992-08-27 07:46:50        NaN
1992-08-27 07:46:51        NaN
1992-08-27 07:46:52        NaN
...                        ...
1992-08-27 09:03:44  29.998095
1992-08-27 09:03:45  29.998571
1992-08-27 09:03:46  29.999048
1992-08-27 09:03:47  29.999524
1992-08-27 09:03:48  30.000000

[4621 rows x 1 columns]
                         value
date
1992-08-27 07:46:00        NaN
1992-08-27 07:47:00        NaN
1992-08-27 07:48:00        NaN
1992-08-27 07:49:00        NaN
1992-08-27 07:50:00        NaN
...                        ...
1992-08-27 08:59:00  29.862857
1992-08-27 09:00:00  29.891429
1992-08-27 09:01:00  29.920000
1992-08-27 09:02:00  29.948571
1992-08-27 09:03:00  29.977143

[78 rows x 1 columns]

In [69]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('min').asfreq()

2012-01-01 00:00:00    315
2012-01-01 00:01:00    169
Freq: T, dtype: int64

In [70]:
ts.iloc[50:70]

2012-01-01 00:00:50    174
2012-01-01 00:00:51    195
2012-01-01 00:00:52     98
2012-01-01 00:00:53    492
2012-01-01 00:00:54      3
2012-01-01 00:00:55    109
2012-01-01 00:00:56    292
2012-01-01 00:00:57    437
2012-01-01 00:00:58     14
2012-01-01 00:00:59     52
2012-01-01 00:01:00    169
2012-01-01 00:01:01    469
2012-01-01 00:01:02    441
2012-01-01 00:01:03    228
2012-01-01 00:01:04    433
2012-01-01 00:01:05    273
2012-01-01 00:01:06     74
2012-01-01 00:01:07     92
2012-01-01 00:01:08    189
2012-01-01 00:01:09    350
Freq: S, dtype: int64

In [6]:
s.index.day_name()

Index(['Thursday', 'Thursday', 'Thursday', 'Thursday', 'Thursday', 'Thursday',
       'Thursday', 'Thursday', 'Thursday'],
      dtype='object')